.slider {
    .main-content {
        margin-top: 370px;
        position: relative;
        z-index: 999999;
        text-align: center;
        h1 {
            font-size: 65px;
            line-height: 60px;
            color: white;
            display: block;
        }
    }
}