.line-left {
    height: 1px;
    background-color: rgba($color: white, $alpha: 0.5);
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: $color-yellow;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
    }
}

.social-icon {
    .social-list-item {
        list-style: none;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        .social-item {
            display: inline-block;
            margin-right: 15px;
            a {
                list-style: none;
                text-decoration: none;
                color: white;
            }
        }
    }
}

.yellow-btn {
    background-color: $color-yellow;
    padding: 10px 40px;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #da9c51;
    }
    &:active {
        background-color: #ffc47b;
    }
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.float-left {
    float: left;
}

.reset-float {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

.width-50 {
    width: 50%;
}

.resume-color {
    h3 {
        color: white;
        font-size: 22px;
    }
    h4 {
        color: white;
        font-size: 18px;
        margin: 0;
        margin-bottom: 10px;
    }
    p {
        color: white;
        opacity: 0.9;
        font-size: 14px;
        margin: 0;
    }
    i {
        color: white;
    }
    .list {
        list-style: none;
        margin: 0px;
        padding: 0px;
        .item {
            line-height: 1;
            margin-bottom: 30px;
        }
    }
}

.resume-line {
    width: 100%;
    .line-left {
        height: 1px;
        background-color: rgba($color: white, $alpha: 0.5);
        width: 50%;
        position: relative;
        margin-bottom: 30px;
        &:after {
            content: '';
            display: block;
            height: 1px;
            background-color: $color-yellow;
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
        }
    }
}

.resume-icon {
    i {
        font-size: 30px;
        color: #da9c51;
    }
}

.skill-color {
    h4 {
        color: white;
        font-size: 18px;
        margin: 0;
        margin-bottom: 10px;
    }
}

.skill-line {
    width: 100%;
    .skill-line-left {
        height: 4px;
        background-color: rgba($color: white, $alpha: 0.5);
        position: relative;
        margin-bottom: 20px;
        i {
            display: block;
            height: 4px;
            background-color: $color-yellow;
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
        }
    }
}

.skill-list {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
}

.skill-percent {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 17px;
    h5 {
        float: right;
        color: white;
        line-height: 1;
        font-size: 12px;
        margin: 0;
    }
}

.quote-title {
    margin-bottom: 30px;
    i {
        font-size: 30px;
    }
}

.yellow-btn {
    background-color: $color-yellow;
    padding: 10px 40px;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: #da9c51;
    }
    &:active {
        background-color: #ffc47b;
    }
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}

.margin-center {
    margin: 0 auto;
    display: block;
}

.background-contact {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.style-line-center {
    height: 1px;
    background-color: rgba($color: white, $alpha: 0.2);
    width: 25%;
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    &:after {
        content: '';
        display: block;
        height: 2px;
        background-color: $color-yellow;
        position: absolute;
        top: -1px;
        left: 50%;
        width: 80px;
        transform: translate(-50%);
    }
}

.form-wrap {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.float-col3 {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .float-col {
        float: left;
        width: 33.33%;
    }
}

.float-col2 {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .float-col {
        float: left;
        width: 50%;
        h4 {
            display: block;
            margin: 0;
        }
    }
}

.float-col4 {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .float-col {
        float: left;
        width: 25%;
        h4 {
            display: block;
            margin: 0;
        }
    }
}

.main-title {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    h1 {
        color: white;
        text-align: center;
        font-size: 30px;
    }
}